@model IEnumerable<S1G6_SISAPP.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Student</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index","Students",FormMethod.Get))
{
<p>
    Find by name : @Html.TextBox("SearchString")
    <input type="submit" value="Search" />
     | @Html.ActionLink("Back to List", "Index")

</p>
}

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("StudentFirstName", "Index", new { sortBy = ViewBag.SortName })
            
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentEnrollment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentPhone)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentEnrollment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentPhone)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
                </td>
            </tr>
        }

    </table>
