@model IEnumerable<S1G6_SISAPP.Models.Department>

@{
    ViewBag.Title = "Department";
}

<h2>Department</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Departments", FormMethod.Get))
{
    <p>
        Find by name : @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
        | @Html.ActionLink("Back to List", "Index")

    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("DepartmentName", "Index", new { sortBy = ViewBag.SortName })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.DepartmentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentID })
            </td>
        </tr>
    }

</table>
